p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    margin: 0;
}

@font-face {
    font-family: PublicPixel;
    src: url("/static/fonts/gamefont.ttf");
}

@font-face {
    font-family: source;
    src: url("/static/fonts/source.ttf");
}

.gamefont {
    font-family: PublicPixel;
}

.sourcefont {
    font-family: source;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202020;
}

.nav-item {
    float: left;
}

.nav-button {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
}

.nav-button:hover:not(.nav-title) {
    background-color: #101010;
}

.nav-title {
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-image {
    flex-basis: 40%;
    max-width: 100%;
}
.card {
    padding: 10px;
    max-width: 50%;
    margin:0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 2px #fff;
}
.card-text {
    text-align: left;
}

.card-group {
    text-align: center;
    margin: 10px;
}

.card-commit-id {
    text-align: right;
}

.commit-id-text {
    font-size: 20px;
    font-family: source;
}
