<!DOCTYPE html>
<html>
    <head>
        <link href="/static/main.css" rel="stylesheet">
        <link href="/static/themes/{{ cookies['theme'] }}.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        <ul class="nav">
            <li class="nav-item"><a class="nav-button nav-title gamefont" href="/"><img src="/static/img/icon.png" class="nav-image" width="30" />Void Heart</a></li>
        </ul>
        {% block content %}

        {% endblock %}
    </body>
</html>
